<<<<<<< HEAD:Apresentacao.css
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap');


@media (max-width: 600px) {
     header {
    display: flex;
    flex-direction: column;  
    gap: 10px; 
    padding: 10px;
    background-color: white;
    position: fixed;  
    top: 0;  
    left: 0;
}

    header img {
        width: 120px; 
        height: auto;
    }
    
    .titulo{
        font-size: 7px;
    }
    .d1 {
        flex-direction: column;
        padding: 10px;
        
    }

    .d1 img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .d2 {
        font-size: 2px;
        flex-direction: column;
        padding: 10px;
    }

    .d2 img {
           width: 100%;
           max-width: 440px;
           height: 300px; 
           object-fit: cover; 
    }

       ul {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

      ul li {
        width: 90%; 
        text-align: center;
    }

    .d1 img, .d2 img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
   
    button {
        width: 100%; 
        height: 50px;
        font-size: 16px; 
    }

    .d1, .d2 {
        padding: 10px;
    }

    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom,rgb(1, 58, 116) rgb(1, 45, 88), rgb(0, 30, 59));    padding: 10px 20px;
    width: 100%;
    box-shadow: 0 2px 8px gainsboro;
    background-color: white;
}

header img {
    flex-shrink: 0;
}

.titulo h1 {
    font-family: 'Georgia', serif;
    border: inset 4px rgb(1, 67, 134);
    text-align: center;
    color: white;
    background-color: rgb(1, 67, 134);
    padding: 15px;
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
box-shadow: 0 0 8px gray;}

body {
     padding-top: 80px;
     color: white;
     
}

button {
    height: 45px;
    width: 110px;
    margin-left: 7px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000080;
    color: white;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 5px;
}

button img {
    width: 20px;
    height: 20px;
}

button:hover {
    transform: scale(1.08);
    background-color:  #000080;
    box-shadow: 0 0 5px gray;
}

div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.d1 {
    border: inset 5px rgb(1, 67, 134);
    text-align: center;
    background-color:rgb(1, 67, 134);
    padding: 3px;
    margin: 3px;
    border-radius: 12px;
    gap: 20px;
box-shadow: 0 0 8px gray;
    font-size: 20px;
}

.d1 img {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

strong {
    color: rgb(0, 255, 242);
}

.d2 {
    border: inset 5px rgb(1, 67, 134);
    text-align: center;
    background-color:rgb(1, 67, 134);
    padding: 3px;
    margin: 3px;
    border-radius: 12px;
    gap: 20px;
box-shadow: 0 0 8px gray;
    font-size: 20px;
}

.d2 img {
    display: flex;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    
}

ul{
    font-family: 'Georgia', serif;
    text-align: center;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
}

.l1{
    border-radius: 10px;
    margin-left: 3px;
    border: inset 5px rgb(1, 67, 134);
    background-color: rgb(1, 58, 116);
     transition: 0.3s;
}

.l2{
    border-radius: 10px;
    border: inset 5px rgb(1, 67, 134);
    background-color: rgb(1, 45, 88);
     transition: 0.3s;
}

.l3{
    border-radius: 10px;
    margin-right: 3px;
    border: inset 5px rgb(1, 67, 134);
    background-color: rgb(0, 30, 59);
     transition: 0.3s;
}

.l1:hover{
    box-shadow: 0 0 8px gray;
    transform: scale(1.01);

}

.l2:hover{
    box-shadow: 0 0 8px gray;
    transform: scale(1.01);

}

.l3:hover{
    box-shadow: 0 0 8px gray;
        transform: scale(1.01);

}

ul .p1{
    border-bottom: solid 2px white;
 
}

.gif{
        width: 100%; 
        max-height: 600px;
         object-fit: cover; /* mantém proporção */
    display: block;
    margin-top: auto; /* empurra para o final */
        
    }

    .rodape{
        text-align: center;
        color: rgb(1, 67, 134);
    }

=======
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap');


@media (max-width: 600px) {
     header {
    display: flex;
    flex-direction: column;  
    gap: 10px; 
    padding: 10px;
    background-color: white;
    position: fixed;  
    top: 0;  
    left: 0;
}

    header img {
        width: 120px; 
        height: auto;
    }
    
    .titulo{
        font-size: 7px;
    }
    .d1 {
        flex-direction: column;
        padding: 10px;
        
    }

    .d1 img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .d2 {
        font-size: 2px;
        flex-direction: column;
        padding: 10px;
    }

    .d2 img {
           width: 100%;
           max-width: 440px;
           height: 300px; 
           object-fit: cover; 
    }

       ul {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

      ul li {
        width: 90%; 
        text-align: center;
    }

    .d1 img, .d2 img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
   
    button {
        width: 100%; 
        height: 50px;
        font-size: 16px; 
    }

    .d1, .d2 {
        padding: 10px;
    }

    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom,rgb(1, 58, 116) rgb(1, 45, 88), rgb(0, 30, 59));    padding: 10px 20px;
    width: 100%;
    box-shadow: 0 2px 8px gainsboro;
    background-color: white;
}

header img {
    flex-shrink: 0;
}

.titulo h1 {
    font-family: 'Georgia', serif;
    border: inset 4px rgb(1, 67, 134);
    text-align: center;
    color: white;
    background-color: rgb(1, 67, 134);
    padding: 15px;
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
box-shadow: 0 0 8px gray;}

body {
     padding-top: 80px;
     color: white;
}

button {
    height: 45px;
    width: 110px;
    margin-left: 7px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000080;
    color: white;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 5px;
}

button img {
    width: 20px;
    height: 20px;
}

button:hover {
    transform: scale(1.08);
    background-color:  #000080;
    box-shadow: 0 0 5px gray;
}

div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.d1 {
    border: inset 5px rgb(1, 67, 134);
    text-align: center;
    background-color:rgb(1, 67, 134);
    padding: 3px;
    margin: 3px;
    border-radius: 12px;
    gap: 20px;
box-shadow: 0 0 8px gray;
    font-size: 20px;
}

.d1 img {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

strong {
    color: rgb(0, 255, 242);
}

.d2 {
    border: inset 5px rgb(1, 67, 134);
    text-align: center;
    background-color:rgb(1, 67, 134);
    padding: 3px;
    margin: 3px;
    border-radius: 12px;
    gap: 20px;
box-shadow: 0 0 8px gray;
    font-size: 20px;
}

.d2 img {
    display: flex;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    
}

ul{
    font-family: 'Georgia', serif;
    text-align: center;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
}

.l1{
    border-radius: 10px;
    margin-left: 3px;
    border: inset 5px rgb(1, 67, 134);
    background-color: rgb(1, 58, 116);
     transition: 0.3s;
}

.l2{
    border-radius: 10px;
    border: inset 5px rgb(1, 67, 134);
    background-color: rgb(1, 45, 88);
     transition: 0.3s;
}

.l3{
    border-radius: 10px;
    margin-right: 3px;
    border: inset 5px rgb(1, 67, 134);
    background-color: rgb(0, 30, 59);
     transition: 0.3s;
}

.l1:hover{
    box-shadow: 0 0 8px gray;
    transform: scale(1.01);

}

.l2:hover{
    box-shadow: 0 0 8px gray;
    transform: scale(1.01);

}

.l3:hover{
    box-shadow: 0 0 8px gray;
        transform: scale(1.01);

}

ul .p1{
    border-bottom: solid 2px white;
 
}

.gif{
        width: 100%; 
        height: 100%;
        
    }

    .rodape{
        text-align: center;
        color: rgb(1, 67, 134);
    }
    