@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


body{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* coloca tudo um abaixo do outro */
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #fff;
    border-radius: 10px;
    max-width: 600px;
    margin: 14px;
    width: 100%;
    overflow: hidden;
    border: 5px solid #000080;
}

.titulo{
    background-color: #000080;
    padding: 15px;
    text-align: center;
    color: white;
}

.form{
    padding: 10px;
}

.formulario{
    margin-bottom: 8px;
    padding-bottom: 18px;
    display: relative;
}

.formulario label{
    display: inline-block;
    margin-bottom: 10px;
}

.formulario input{
    display: block;
    width: 100%;
    border-radius: 14px;
    padding: 8px;
    border: 2px solid rgba(202, 198, 198, 0.479);
    transition: border-color 0.2s ease;
}

input:focus{
    outline: none;
    border-color:#000080;
}

button{
    background-color:#000080; 
    width: 100%;
    padding: 8px;
    color: white;
    border-radius: 14px;
    font-size: 15px;
    border: none;
    cursor:pointer;
    transition: all 0.3s ease;
}

button:hover {
        background-color: #FFB90F; /* Cor ao passar o mouse */
        transform: scale(1.02);
}

.tela{
    width: 120px;
}

.tela a{
    text-decoration: none;
    color: #fff;
}

@keyframes aparecerSuave {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    animation: aparecerSuave 0.8s ease-out;
}

.tela{
    animation: aparecerSuave 0.8s ease-out;
}

.input-erro {
    border: 2px solid #dc3545; /* vermelho */
}

.input-ok {
    border: 2px solid #28a745; /* verde */
}